{# app/Resources/views/tour/archive.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome!</h1>
    <p> <a href="{{ path('add tour') }}">Order a ticket</a></p>
    <h2>Orders archive</h2>
    <style>
        table, td, th {
            border: 1px solid;
        }

        th, td {
            padding: 5px;
        }
    </style>

    {% if tours == NULL %}
        No tours <br>
    {% else %}

        <table>
            <thead>
            <th>Order ID</th>
            <th>Country</th>
            <th>Client name</th>
            <th>Client Email</th>
            <th>Tickets count</th>
            </thead>
            <tbody>
            {% for tour in tours %}
                <tr>
                    <td>
                        {{ tour.id }}
                    </td>
                    <td>
                        {{ tour.type }}
                    </td>
                    <td>
                        {{ tour.name }}
                    </td>
                    <td>
                        {{ tour.email }}
                    </td>
                    <td>
                        {{ tour.count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}