{# app/Resources/views/tour/archive.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Available tours</h1>
    <p> <a href="{{ path('add tour') }}">Order a ticket</a></p>

    {% if tours == NULL %}
        No tours <br>
    {% else %}

        <table>
            <thead>
            <th>Country</th>
            <th>Price ($)</th>
            <th>Description</th>
            <th>Tour date</th>
            <th>Tour duration (days)</th>
            </thead>
            <tbody>
            {% for tour in tours %}
                <tr>
                    <td>
                        <a href="{{ path('available tours') }}/{{ tour.name }}">{{ tour.name }}</a>
                    </td>
                    <td>
                        {{ tour.price }}
                    </td>
                    <td>
                        {{ tour.description [:15]}}...
                    </td>
                    <td>
                        {{ tour.date }}
                    </td>
                    <td>
                        {{ tour.duration }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}